Django>=5.0,<6.0
django-ninja
django-q2
gunicorn
psycopg2-binary
django-cors-headers
python-dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
msal
pytest
pytest-mock
pytest-django
pytest-check
pylint
pylint-django
hypothesis
django-pgcrypto
python-docx
python-pptx
openpyxl
pypdf
setuptools
