name: Pylint 
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: 
    - '**'

jobs:
  run-pylint:
    name: Run Pylint
    runs-on: ubuntu-latest
    # Skip for draft PRs
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
    steps: 
      - uses: actions/checkout@v6
      
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      
      - name: Install dependencies
        run: |
          pip install -r ./requirements.txt
      
      - name: Run Pylint
        run: |
          pylint .