name: pylint 
on:
  pull_request:
    branches: 
    - '**'

jobs:
  build-lint:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v5
      
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install -r ./requirements.txt
      
      - name: Run pylint
        run: |
          pylint --ignore=test,tests .
