name: pylint 
on:
  pull_request:
    branches: 
    - '**'

jobs:
  build-lint:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3
    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==25.2
        pip install -r ./requirements.txt
    - name: Run pylint
      run: |
        pylint **/*.py    
