name: pytest
on:
  pull_request:
    branches: 
    - '**'
  
jobs: 
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: |
          docker build . --file dev.Dockerfile --tag p7-backend:latest 
          docker build . --file dev.Dockerfile --tag postgres:16-alpine
      - name: Run tests
        run: |
          cd test
          docker run --rm p7-backend:latest pytest
          